.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 768px;
	height: 844px;

	background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
	position: relative;
	display: flex;
	width: 619px;
	height: 425px;
	left: 74px;
	top: 181px;
	padding-top: 30px;

	background: #ffffff;
}

.image-form {
	display: flex;
	flex-direction: column;
	width: 375px;
}

.modal__image {
	display: block;
	margin-left: 30px;
	margin-bottom: 29px;
	width: 331px;
	height: 205px;
}

.close {
	position: absolute;
	right: 21px;
	top: 21px;
	width: 26px;
	height: 26px;
	font-size: 26px;
	font-family: Arial;
	cursor: pointer;
}



@media (max-width: 320px) {
	.modal {
		position: absolute;
		top: 0;
		left: 0;
		width: 320px;
		height: 1400px;
	
		background-color: rgba(0, 0, 0, 0.4);
	}

	.modal__content {
		position: fixed;
		display: flex;
		width: 320px;
		height: 537px;
		left: 0;
		top: 0;
		padding-top: 0;
	
		background: #ffffff;
	}

	.modal__image {
		display: block;
		margin-left: 0;
		margin-bottom: 29px;
		width: 320px;
		height: 205px;
	}
}