body {
	background-color:#E5E5E5;
}

.App {
	position: relative;
	width: 768px;
	height: 828px;
	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

.app_header {
	padding: 0;
	margin: 0;
}

header {
	position: relative;
	width: 233px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	font-family: Roboto Condensed;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

.image {
	width: 229px;
	height: 142px;
	margin-left: 20px;
	margin-top: 30px;
	cursor: pointer;
}

.hr{
	position: absolute;
	width: 728px;
	height: 0px;
	bottom: 56px;
	left: 20px;

	border: 1px solid #CCCCCC;
}

.footer_years {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	left: 327px;
	right: 327px;
	bottom: 11px;

	color: #CCCCCC;
}

@media (max-width: 320px) {
	.App {
		position: relative;
		width: 320px;
		height: 1400px;
		background: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
	}

	.image {
		width: 280px;
		height: 171px;
	}
	.footer_years {
		position: absolute;
		left: 123px;
		bottom: 11.1px;
		width: 100px;
		
		font-family: Roboto Condensed;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		display: flex;
		align-items: center;
		text-align: center;
		text-transform: uppercase;
		
		color: #CCCCCC;
	}
	.hr{
		position: absolute;
		width: 280px;
		height: 0px;
		bottom: 56px;
		left: 20px;
	
		border: 1px solid #CCCCCC;
	}
}